### C/C++ ###
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf
*.gcda
*.gcno

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*libmy.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb
# Others files
*.html

# Executable project
brain-gomoku-ai
pbrain-gomoku-ai
unit_tests
.vscode
